<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2106088.amaru">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/amaru"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity android:name=".InicioActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".CrearGrupoActivity" />
        <activity android:name=".InicioActivityInstructor" />
        <activity android:name=".Grupo" />
        <activity android:name=".Comentario" />
        <activity
            android:name=".PrincipalPageAmaru"
            android:label="@string/title_activity_prueba"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrincipalPageInstructor"
            android:label="Próximas Clases"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilInstructor"
            android:label="Mi Perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerPerfilInstructor"
            android:label="@string/title_activity_ver_perfil_instructor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityListaGrupos"
            android:label="Grupos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CrearGrupo"
            android:label="Crear Grupo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySelectedGroup"
            android:label="@string/title_activity_selected_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Categorias"
            android:label="@string/title_activity_categorias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlmunosInscritos"
            android:label="Inscritos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InicioAmaru"
            android:label="@string/title_activity_inicio_amaru"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Comprar"
            android:label="@string/title_activity_comprar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilAmaru"
            android:label="@string/title_activity_perfil_amaru"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserListas"
            android:label="@string/title_activity_user_listas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserCategory"
            android:label="@string/title_activity_user_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerUsuario"
            android:label="@string/title_activity_ver_usuario"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>